@model IEnumerable<TestBlogCore.Models.ViewModels.UserWithRolesViewModel>
@{
    ViewData["Title"] = "Usuarios";
}

<div class="border">
    <div class="row">
        <div class="col-6">
            <h1 class="text-center">@ViewData["Title"]</h1>
        </div>
        <div class="col-6">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info">
                <i class="fas fa-plus"></i> Nuevo Usuario
            </a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.First().User.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.First().User.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.First().User.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.First().User.City)</th>
                    <th>@Html.DisplayNameFor(model => model.First().User.Country)</th>
                    <th>Roles</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.User.FirstName</td>
                        <td>@item.User.Email</td>
                        <td>@item.User.Address</td>
                        <td>@item.User.City</td>
                        <td>@item.User.Country</td>
                        <td>
                            <form asp-action="ChangeRole" method="post">
                                <input type="hidden" name="userId" value="@item.User.Id" />
                                <select name="newRole" class="form-select">
                                    <option selected disabled>@item.CurrentRole</option>
                                    @foreach (var role in item.AvailableRoles)
                                    {
                                        <option value="@role">@role</option>
                                    }
                                </select>
                                <button type="submit" class="btn btn-primary btn-sm mt-2">Actualizar</button>
                            </form>
                        </td>
                        <td>
                            @if (item.User.LockoutEnd == null || item.User.LockoutEnd < DateTime.Now)
                            {
                                <a asp-action="Block" asp-route-id="@item.User.Id" class="btn btn-success">
                                    <i class="fas fa-unlock"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-action="UnBlock" asp-route-id="@item.User.Id" class="btn btn-danger">
                                    <i class="fas fa-lock"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
